@font-face {
	font-family:'Libre Bodoni';
	src: url('./assets/fonts/Libre\ Bodoni\ Regular.woff2') format('woff2'),
	url('./assets/fonts/Libre\ Bodoni\ Regular.woff') format('woff'),
	url('./assets/fonts/Libre\ Bodoni\ Regular.ttf') format('truetype'),
	url('./assets/fonts/Libre\ Bodoni\ Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-2044;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	max-width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	line-height: 1.5;
	background: linear-gradient(-45deg, #7552f5, blue 2%, #52b4f5, #52d4f5, #7552f5);
	background-size: 300% 300%;
	animation: gradient 10s ease-in infinite;
	-webkit-animation: gradient 10s ease-in infinite;
}

.container {
	width: 50%;
	height: 75%;
	margin-inline: auto;	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 75% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.slider {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.conteiner-slides {
	overflow: hidden;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

input[name="slide"] {
	display: none;
}

.slides {
	width: 500%;
	height: 60vh;
	display: flex;
	text-align: center;
}

.slide {
	width: 20%;
	height: 100%;
}

.slide img {
	max-width: 100%;
	height: 100%;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

.bottom-slider {
	display: flex;
	justify-content: space-between;
	margin-top: 3rem;
}

.container-jouke {
	width: 70%;
	overflow: hidden;
}

.jouke {
	width: 500%;
	height: 100%;
	display: flex;
}

.jouke-text {
	width: 100%;
	font-family: 'Libre Bodoni';
	font-weight: 700;
	letter-spacing: 0.05rem;
	font-size: clamp(0.5rem, 2vw, 1.3rem);
	background: linear-gradient(45deg, #7552f5 20%, #ff5151, #ff2f2f, #7552f5);
	background-size: 200% 200%;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	animation: gradient 10s ease-out infinite;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-webkit-animation: gradient 10s ease-out infinite;
}

.control {
	width: 16rem;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	
}

/* .fild-click {
	width: 2.5rem;
	height: 2.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
} */

.btn {
	width: clamp(0.9rem, 3vw, 2.5rem);
	height: clamp(0.9rem, 3vw, 2.5rem);
	background: #ff5151;
	border: 0.6rem solid transparent;
	/* padding: 0.5rem; */
	/* -webkit-background-clip: padding-box; */
	background-clip: padding-box;
	cursor: pointer;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

 .btn:hover {
	background-color: #ff0000;
	/* box-shadow: 0 0 0.5rem #ff0000; */
}

 .btn:active {
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
}

#radBtn1:checked ~ .conteiner-slides img {
	margin-left: 0;
}

#radBtn2:checked ~ .conteiner-slides img {
	margin-left: -200%;
}

#radBtn3:checked ~ .conteiner-slides img {
	margin-left: -400%;
}

#radBtn4:checked ~ .conteiner-slides img {
	margin-left: -600%;
}

#radBtn5:checked ~ .conteiner-slides img {
	margin-left: -800%;
}

#radBtn1:checked ~ .bottom-slider .btn1,
#radBtn2:checked ~ .bottom-slider .btn2,
#radBtn3:checked ~ .bottom-slider .btn3,
#radBtn4:checked ~ .bottom-slider .btn4,
#radBtn5:checked ~ .bottom-slider .btn5 {
	background-color: #6237fc ;
	border: 0.5rem solid transparent;
	background-clip: padding-box;
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
}

#radBtn1:checked ~ .bottom-slider .jouke-text {
	margin-left: 0;
}

#radBtn2:checked ~ .bottom-slider .jouke-text {
	margin-left: -20%;
}

#radBtn3:checked ~ .bottom-slider .jouke-text {
	margin-left: -40%;
}

#radBtn4:checked ~ .bottom-slider .jouke-text {
	margin-left: -60%;
}

#radBtn5:checked ~ .bottom-slider .jouke-text {
	margin-left: -80%;
}
